button {
  cursor: pointer;
}

matefun-modal-seleccionar-directorio {
  .stretch-width {
    width: 100%;
    min-height: 184px; // Para evitar un poco el CLS se fija un min-height
  }

  .current-directory {
    display: block;
    background-color: #e7f6f6;
    border: 1px solid #a2b3b3;
    border-radius: 4px;
    padding: 4px;
    opacity: 0.75;
    word-break: break-word;
  }

  .matefun-file {
    cursor: pointer;
    font-size: 3em;
    margin-right: 10px;
  }

  // Hace que el contenido del directorio (las carpetas) sean "scrolleables"
  // cuando el modal no tiene suficiente height para mostrar todo el contenido
  .scroll-on-overflow {
    max-height: calc(100vh - 386px);
    overflow: auto;
  }
}
